body {
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    line-height: 1.7;
    /* font-size: 16px; */
    color: $color-gray;
    padding: 3rem;

}

.heading-primary {
    background-image: linear-gradient(to right, $color-red-light, $color-red-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
}

.heading-login{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    &:hover {
        transform: skewY(5deg) skewX(10deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    }
}

