.kidsComents-reviews {
  align-items: center;
  min-width: 60%;
  width: max-content;
  margin: 0 auto;

  animation-name: moveInLeft;
  animation-duration: 1.3s;
  animation-timing-function: ease-out;

  transition: all 0.3s;

  &:hover {
    transform: scale(1.01);
    outline: 0.3rem solid $color-primary-dark;
    cursor: pointer;
    box-shadow: 0 2.5rem 3rem rgba($color-black, 0.8);
  }
}

.kidsComents {
  background-color: $color-white;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  padding: 3rem;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  &__number {
    font-size: 1.5rem;
    transform: all 0.6s;

    &:hover {
      transform: translateY(-3px);

      &::after {
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      color: $color-primary-dark;
    }
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
    font-size: 1.5rem;
    transition: all 0.5s;

    display: table-caption;
    text-align: left;
    font-weight: 100;
    font-family: cursive;

    width: 60vw;

    //font-size: 5vw;
  }

  &__accordion {
    margin-bottom: 3rem;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.01);
      border-top: 0.1rem solid $color-primary-dark;
      //outline: 0.1rem solid $color-primary-dark;
      cursor: pointer;
      box-shadow: 0 2.5rem 3rem rgba($color-black, 0.8);
    }

    &--td {
      //margin-top: 1.5rem;
      font-size: 1rem;
      padding: 2rem;
      text-transform: uppercase;
    }

    &--li {
      text-transform: none;
      font: initial;
      font-size: 1.8rem;
    }
  }

  // &__title:hover {
  //     transform: scale(1.05);
  //     color: $color-primary-dark;
  //transform: rotate(360deg);
  // }

  &__author {
    display: flex;
    align-items: center;
  }

  &__author-box {
    margin-right: auto;
  }

  &__author-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
    transition: all 0.5s;
  }

  &__author-name:hover {
    transform: translateY(-0.2rem);
    // text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    color: $color-primary-dark;
    cursor: pointer;
  }

  &__author-comments {
    font-size: 1rem;
    color: $color-gray-light-3;
    transition: all 0.5s;
  }

  &__author-comments:hover {
    transform: scale(1.09);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    color: $color-primary-dark;
    cursor: pointer;
  }
}
