.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 15rem;
    transition: all 0.3;
    position: relative;
    font-size: $default-font-size;
    //change for <button>
    border: none;
    cursor: pointer;
  }

  &-header {
    margin-right: 2rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: floralwhite;
    color: $color-primary-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--orange {
    background-color: $color-primary-dark;
    color: $color-white;

    &::after {
      background-color: $color-primary-dark;
    }
  }

  &-box-more {
    text-align: center;
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBotton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
